.postContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: background-color 0.2s ease;
}

.postContent:hover {
  background-color: #2c2c2c;
}

.postContent p {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.87);
}
